.drag-select {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    border: 1px solid #086f5a;

    &__area {
        background: rgba(66, 153, 225, 0.5);

        &::after {
            display: block;
            position: absolute;
            content: " ";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 1px solid rgb(66, 153, 225);
        }
    }
    &__option {
        width: 100px;
        height: 100px;
        margin: 10px;
        color: #ffffff;
        background: #E37E26;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        &--selected {
            color: #000000;
            background: #5fdddc;
        }
    }
}